body {
    font-family: Arial, sans-serif;
    background-color: #0f172a;
    color: #e5e7eb;
    text-align: center;
    padding-top: 100px;
}

h1 {
    color: #38bdf8;
    font-size: 40px;
}

p {
    font-size: 18px;
}
